<a href="https://colab.research.google.com/github/srushtinalawade-gif/Basics-of-Python/blob/main/Practical1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#EDA using PYTHON
##Name-Srushti J. Nalawade PRN-25070123157 Batch-A1
###Experiment 1

In [1]:
# First Python Pogram/string
a="Hello"
print(a)

Hello

In [6]:
print("Hello"); print("How are you?"); print("Bye bye!")

Hello
How are you?
Bye bye!

In [11]:
print("This is, wait for it", end="...")
print("Legendary.")

This is, wait for it...Legendary.

In [12]:
print(17)

17

In [13]:
a=5
b=9
print(a+b)

14

In [16]:
# Variables
A=1
E=2
I=3
O=4
U=5

a=A*E
b=I*O*U
print(a+b)

62

In [20]:
#Multiple Variables
A,E,I,O,U = 1,2,3,4,5
a,b = A*E,I*O*U
print(a+b)

62

In [22]:
a,b=6,7
print("Addition=",a+b)
print("Subtraction=",a-b)
print('Division=',a/b)
print("Multiplication",a*b)

Addition= 13
Subtraction= -1
Division= 0.8571428571428571
Multiplication 42

In [43]:
# Understanding Data Types
x = 17
y = 3.14
z = "PYTHON"
flag = True
C =3+2j

print(type(x))
print(type(y))
print(type(z))
print(type(flag))
print(type(C))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>

In [30]:
#Simple Calculator
a = int(input("Enter First Number "))
b = int(input("Enter Second Number "))
print(a*b)
print(a/b)
print(a+b)
print(a-b)

Enter First Number 6
Enter Second Number 7
42
0.8571428571428571
13
-1

In [34]:
# Sum&Avg of marks
Sub1 =int(input("Enter marks of first suject="))
Sub2 =int(input("Enter marks of second subject="))
Sub3 =int(input("Enter marks of third subject="))
Sub4 =int(input("Enter marks of fourth subject="))
Sub5 =int(input("Enter marks of fifth subject="))

print("The Sum of all subjects is=", Sub1+Sub2+Sub3+Sub4+Sub5)
print("The Average of all subjects is=", (Sub1+Sub2+Sub3+Sub4+Sub5)/5)

Enter marks of first suject=34
Enter marks of second subject=67
Enter marks of third subject=87
Enter marks of fourth subject=90
Enter marks of fifth subject=23
The Sum of all subjects is= 301
The Average of all subjects is= 60.2

In [42]:
# Area of Rectangle&Circle
a= float(input("First side="))
b=float(input("Second side/radius="))

print("The area of rectangle is=",a*b)
print("The area of circle is=", 3.14*b*b)

First side=6
Second side/radius=7
The area of rectangle is= 42.0
The area of circle is= 153.86

In [39]:
print(3**6)

729

In [40]:
A=(3,4,5)+(6,7,8)
print(A)

(3, 4, 5, 6, 7, 8)